<div class="row">
	<div class="col-xs-12">
		<p>Add new servers or blueprints</p>
		<label for="Server name">Server Name</label>
		<input type="text" class="form-control" #serverNameInput>
		<label for="Server Content">Server Content</label>
		<!-- <input type="text" class="form-control" [(ngModel)] = "newServerContent"> -->
		<input type="text" class="form-control" #serverContentInput>
		<br />
		<button
			class="btn btn-primary"
			(click)="onAddServer(serverNameInput)">Add Server</button>
		<button
			class="btn btn-primary"
			(click)="onAddBlueprint(serverNameInput)">Add Blueprint</button>
	</div>
</div>